body {
    background-image: url("subway.jpg");
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.wrapper {
    background: white;
    max-width: 60%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #005176;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #005176;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    border: 3px solid black;
    background: #0081AF;
}

#save-btn {
    background: #2DC7FF;
     border: 3px solid black;
}
#save-el {
    color: #005176;
    font-weight: bolder;
    font-size: 18px;
}

#clear-btn {
    background: #00ABE7;
    border: 3px solid black;
}